<h1>Hi! Please confirm your email!</h1>

<p>
    Please confirm your email address by clicking the following link: <br><br>
    <a href="{{ absolute_url(path('activation', { 'token' : token })) }}">Activer mon compte !</a>.
</p>

<p>
    Cheers!
</p>
