{% extends 'base.html.twig' %}

{% block title %}New PointDeVente{% endblock %}

{% block body %}
    <h1>Create new PointDeVente</h1>

    {{ include('point_de_vente/_form.html.twig') }}

    <a href="{{ path('point_de_vente_index') }}">back to list</a>
{% endblock %}
